/code/.idea/
/code/__pycache__/
/code/DanbooRegion2020/test/*.png
/code/DanbooRegion2020/train/*.png
/code/DanbooRegion2020/val/*.png
/code/results/*.jpg
saved_discriminator.net
saved_model.net
!.gitignore